/* CSS RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000; }

.btn {
  cursor: pointer;
  min-width: fit-content;
  padding: 1rem 5rem;
  border: none;
  background-color: #000;
  color: #c331ff;
  text-transform: uppercase; }

.header {
  background-color: #000;
  margin: 0 auto;
  color: #000; }
  .header__content {
    background: linear-gradient(#c331ff, #6e00ff);
    margin: 0 auto; }
    .header__content-text {
      padding-left: 3rem; }
      .header__content-text .btn {
        margin-bottom: 3rem; }
    .header__content-title {
      padding: 3rem 0;
      font-size: 2.5rem; }
    .header__content-image {
      background-color: #000; }
      .header__content-image img {
        width: 350px;
        overflow: hidden;
        opacity: 0.3; }

@media (min-width: 844px) {
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%; }
    .header__content-text {
      max-width: 50%; }
    .header__content-image {
      background-color: #000;
      margin-left: 3rem;
      max-width: 50%;
      display: flex;
      justify-content: flex-end; }
      .header__content-image img {
        width: 600px;
        overflow: hidden; } }

.nav__box {
  background-color: #000; }
  .nav__box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; }
    .nav__box-header img {
      max-width: 5rem;
      background: #000;
      border: none;
      padding: 0;
      cursor: pointer; }
  .nav__box-links {
    height: 0;
    overflow: hidden; }
    .nav__box-links--show {
      transition: all 0.4s ease-in-out;
      height: 13rem; }

.nav__list a {
  text-decoration: none;
  color: #c331ff;
  font-size: 2.5rem;
  padding: 1rem; }
  .nav__list a:hover {
    padding-left: 1.5rem;
    transition: all 0.4s ease-in; }

.hidden {
  display: none; }

@media (min-width: 844px) {
  .nav__box {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; }
    .nav__box-links {
      height: auto; }
  .mobile-nav-toggle {
    display: none; }
  .nav__list {
    display: flex;
    list-style: none; }
    .nav__list a {
      display: block;
      padding: 0;
      margin: 0 0.5rem;
      text-decoration: none; }
      .nav__list a:hover {
        padding: 0;
        color: #6e00ff;
        transition: all 0.2s ease-in; } }
