/* CSS RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000;
  padding: 3rem; }

.header {
  background-color: #000;
  max-width: 1170px;
  margin: 0 auto; }
  .header__heading {
    font-size: 3rem;
    color: #fff; }

.nav__box {
  background-color: #000; }
  .nav__box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; }
    .nav__box-header img {
      max-width: 5rem;
      background: #000;
      border: none;
      padding: 0;
      cursor: pointer; }
  .nav__box-links {
    height: 0;
    overflow: hidden; }
    .nav__box-links--show {
      transition: all 0.4s ease-in-out;
      height: 13rem; }

.nav__list a {
  text-decoration: none;
  color: #c331ff;
  font-size: 1.8rem;
  padding: 1rem; }
  .nav__list a:hover {
    padding-left: 1.5rem;
    transition: all 0.4s ease-in; }

.hidden {
  display: none; }

@media (min-width: 700px) {
  .nav__box {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; }
    .nav__box-links {
      height: auto; }
  .mobile-nav-toggle {
    display: none; }
  .nav__list {
    display: flex;
    list-style: none; }
    .nav__list a {
      display: block;
      padding: 0;
      margin: 0 0.5rem;
      text-decoration: none; }
      .nav__list a:hover {
        padding: 0;
        color: #6e00ff;
        transition: all 0.2s ease-in; } }
