.footer {
  color: $color-white;
  font-family: $alternate-font;
  padding: $vertical-margin 0;

  &__container {
    &__heading {
      min-width: 300px;

      img {
        max-width: 100%;
        filter: grayscale(100%);
      }

      h2 {
        text-transform: capitalize;
        margin: 1rem 0;
        padding: 1rem;
      }

      hr {
        border: 1px solid $color-primary-purple;
        margin: 1rem;
      }
    }

    &__body {
      padding: 1rem;
      .address__left {
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (min-width: 844px) {
  .footer__container {
    max-width: 90%;
    margin-inline: auto;

    &__heading {
      &__image {
        height: 300px;
      }

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        filter: grayscale(100%);
      }

      h2 {
        font-size: 3rem;
      }

      hr {
        margin-inline: 0;
      }
    }

    &__body {
      .address {
        display: flex;
        gap: 3rem;

        &__right {
          margin: 1rem 0;
        }
      }
    }
  }
}
