.header {
  background-color: $color-black;
  margin: 0 auto;
  color: $color-black;
  margin-top: 1rem;

  &__content {
    margin: 0 auto;

    &-text {
      background: linear-gradient(
        to bottom right,
        $color-primary-purple,
        $color-primary-blue
      );
      padding: 1rem;

      .btn {
        margin-bottom: $vertical-margin;
      }
    }
    &-title {
      padding: $vertical-margin 0;
      font-size: $heading-font-size;
    }

    &-image {
      background-color: $color-black;
      min-width: 300px;

      img {
        max-width: 100%;
        filter: grayscale(100%);
      }
    }
  }
}

@media (min-width: 844px) {
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;

    &-text {
      max-width: 50%;
    }

    &-image {
      background-color: $color-black;
      margin-left: $vertical-margin;
      max-width: 50%;
      display: flex;
      justify-content: flex-end;

      img {
        width: 600px;
        overflow: hidden;
      }
    }
  }
}
