.header {
  background-color: $color-black;
  margin: 0 auto;
  color: $color-black;
  margin-top: 1rem;

  &__content {
    margin: 0 auto;

    &-text {
      background: linear-gradient(
        to bottom right,
        $color-primary-purple,
        $color-primary-blue
      );
      padding: 1rem;

      .btn {
        margin-bottom: $vertical-margin;
      }
    }
    &-title {
      padding: $vertical-margin 0;
      font-size: $heading-font-size;
    }

    &-image {
      background-color: $color-black;
      min-width: 300px;

      img {
        max-width: 100%;
        filter: grayscale(100%);
      }
    }
  }
}

@media screen and (min-width: 844px) {
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    gap: 3rem;

    &-text {
      height: 350px;
      padding-inline: $vertical-margin;
      // margin-block: auto 0;
      margin: auto 0;
      flex: 1;
      line-height: 1;
    }

    &-image {
      background-color: $color-black;
      height: 350px;
      overflow: hidden;
      flex: 1;
      // margin-left: $vertical-margin;
      // max-width: 50%;
      // display: flex;
      // justify-content: flex-end;

      // img {
      //   width: 600px;
      //   overflow: hidden;
      // }
    }
    &-title {
      // padding: $vertical-margin;
      font-size: 5rem;
      padding-inline-end: 1rem;
      // flex: 2;
    }
  }

  // .header__content > * {
  //   flex: 1;
  // }
}
