.aerobic {
  background-color: $color-black;
  margin: $vertical-margin 0;

  &__container {
    &__image {
      min-width: 300px;

      img {
        max-width: 100%;
        filter: grayscale(100%);
      }
    }

    &__content {
      font-family: $alternate-font;
      background: linear-gradient(
        to bottom right,
        $color-primary-purple,
        $color-primary-blue
      );
      padding: $vertical-margin 1rem;

      .container-title {
        margin-bottom: $vertical-margin;
        h2 > span {
          line-height: 0.5;
          display: block;
        }
      }

      .container-content {
        color: $color-white;
        padding-bottom: $vertical-margin;
      }

      .btn {
        margin-bottom: $vertical-margin;
      }
    }
  }
}

@media screen and (min-width: 844px) {
  .aerobic__container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 80%;
    margin-inline: auto;

    &__image {
      flex: 1;
      height: 450px;
      text-align: end;

      img {
        height: 450px;
        width: 500px;
        object-fit: cover;
      }

      &--left {
        text-align: start;
      }
    }

    &__content {
      flex: 1.3;
      height: 450px;
      line-height: 2;
      padding: 0;

      display: flex;

      .wrapper {
        max-width: 60%;
        margin: auto;
      }

      .container-title {
        font-size: 2.5rem;
      }
    }
  }
}
