.btn {
  cursor: pointer;
  min-width: fit-content;
  padding: 1rem 5rem;
  border: none;
  background-color: $color-black;
  color: $color-primary-purple;
  text-transform: uppercase;

  &--purple {
    background-color: $color-primary-purple;
    color: $color-black;
  }
}
