/* CSS RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 100vw;
  background-color: $color-black;
  padding: 1rem;
}
